{% extends 'base_cpanel.html' %}
{% block title %}Modificar Usuario{% endblock %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="text-white mb-0">Actualizar Datos de Usuario</h4>
      </div>
      <div class="card-body mt-4">
        <form action="{{ url_for('user_bp.update_user') }}" method="POST">
          <input type="hidden" name="id_user" value="{{ usuario.id }}">
          <div class="row">
            <div class="col-md-12 mb-3">
              <label class="form-label">Nombre y Apellido</label>
              <input type="text" name="name_surname" class="form-control" value="{{ usuario.name_surname }}" required>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Correo Electrónico</label>
              <input type="email" name="email_user" class="form-control" value="{{ usuario.email_user }}" required>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Nueva Contraseña <small>(Opcional)</small></label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-key"></i></span>
                <input type="password" name="pass_user" class="form-control" placeholder="Dejar en blanco para no cambiar">
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-info px-5">
              <i class="bi bi-arrow-repeat"></i> Actualizar Usuario
            </button>
            <a href="{{ url_for('user_bp.list_users') }}" class="btn btn-secondary">
              Volver
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='assets/js/usuarios_validation.js') }}"></script>
{% endblock %}
