{% extends 'vista/base_cpanel.html' %}
{% block title %}Crud con Python 🐍 | Actualizar Publicación{% endblock %}
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

{% block body %}
<div class="card" style="border-radius: 0px !important">
  {% if publicacion %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-publicaciones">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        ACTUALIZAR DATOS DE LA PUBLICACIÓN
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="{{ url_for('actualizarPublicacion', id = publicacion.id_publicaciones ) }}"
        autocomplete="off">
        <input
          type="text"
          class="form-control"
          name="id_publicaciones"
          value="{{ publicacion.id_publicaciones }}"
          required
          hidden />

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="titulo_publicacion" class="form-label">
                Título de la publicación
              </label>
              <input
                type="text"
                name="titulo_publicacion"
                value="{{ publicacion.titulo_publicacion }}"
                class="form-control"
                maxlength="30"
                required />
            </div>
            <div class="col-md-6">
              <label for="nombre_responsable" class="form-label">
                Nombre del responsable
              </label>
              <input
                class="form-control"
                type="text"
                name="nombre_responsable"
                value="{{ publicacion.nombre_responsable }}"
                maxlength="30"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="fecha_publicacion" class="form-label">
                Fecha de publicación
              </label>
              <input
                class="form-control"
                type="datetime-local"
                name="fecha_publicacion"
                value="{{ publicacion.fecha_publicacion }}"
                required />
            </div>
            <div class="col-md-6">
              <label for="tipo_publicacion" class="form-label">
                Tipo de publicación
              </label>
              <input
                class="form-control"
                type="text"
                name="tipo_publicacion"
                value="{{ publicacion.tipo_publicacion }}"
                maxlength="30"
                required />
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Modificar
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe la publicación</h3>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %} 

{% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}