{% extends 'base_cpanel.html' %}
{% block title %}INVISAP | Registrar Gerencia{% endblock %}
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">REGISTRAR GERENCIA</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
 <form method="POST" action="{{ url_for('procesar_registro') }}" autocomplete="off">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <label for="nombre_gerencia" class="form-label">Nombre de la Gerencia</label>
                <input type="text" class="form-control bg-white" name="nombre_gerencia" placeholder="Nombre" required />
            </div>
            <div class="col-md-4">
                <label for="direccion_gerencia" class="form-label">Dirección de Gerencia</label>
                <input type="text" class="form-control bg-white" name="direccion_gerencia" placeholder="Dirección" required />
            </div>
        <div class="col-md-4">
               <label for="informe_avance_obra_id_informe" class="form-label">Seleccionar Informe</label>
               <select name="informe_avance_obra_id_informe" class="form-control" required>
               <option value="">-- Seleccione una obra --</option>
               {% for inf in informes %}
               <option value="{{ inf.id_informe }}">
               ID: {{ inf.id_informe }} - {{ inf.tipo_obras }}
               </option>
               {% endfor %}
               </select>
        </div>
        </div>
        <div class="mt-5 text-center">
            <button  class="btn btn-primary btn-lg px-5 shadow-sm" style="border-radius: 50px;" type="submit"><i class="bi bi-save me-2"></i>Registrar Gerencia</button>
          </div>
    </div>
</form>
    </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} 

{% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/js/gerencias.js') }}"></script>
{% endblock %}