<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo" style="justify-content: center; padding-left: 0;">
    <a href="{{ url_for('inicio') }}" class="app-brand-link" style="justify-content: center; width: 100%;">
      <span class="app-brand-logo demo" style="line-height: 0; display: flex; align-items: center; justify-content: center;">
        <img
          src="{{ url_for('static', filename ='assets/img/NUEVO LOGO GOBERNACION DE LARA JUNIO 2025.png') }}"
          alt="Logo" 
          style="max-height: 120px; max-width: 150px; object-fit: contain; width: auto; height: auto;" />
      </span>
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-5">
    <li
      class="menu-item {% if request.path == '/solicitante' %} active {% endif %}">
      <a href="/solicitante" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Solicitante</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/registrar-solicitud' %} active {% endif %}">
      <a href="{{ url_for('viewFormSolicitud') }}" class="menu-link">
        <i class="menu-icon bi bi-person-bounding-box"></i>
        <div data-i18n="Basic">Registrar Solicitud</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/gestionar-gravedad' %} active {% endif %}">
      <a href="/gestionar-gravedad" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Gestionar Gravedad</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/priorizar-solicitudes' %} active {% endif %}">
      <a href="/priorizar-solicitudes" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Priorizar Solicitudes</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/gestionar-prioridad' %} active {% endif %}">
      <a href="/gestionar-prioridad" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Gestionar Prioridad</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/empleados' %} active{% endif %}">
      <a href="/empleados" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Empleados</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/gestionar-gerencias' %} active {% endif %}">
      <a href="/gestionar-gerencias" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Gestionar Gerencias</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/maquinaria' %} active {% endif %}">
      <a href="/maquinaria" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Maquinaria</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/gestionar-proyectos' %} active {% endif %}">
      <a href="/gestionar-proyectos" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Gestionar Proyectos</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/Gestionar-Contrataciones' %} active{% endif %}">
      <a href="/Gestionar-Contrataciones" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Gestionar Contrataciones</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/empresa' %} active{% endif %}">
      <a href="/empresa" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Empresa</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/gestionar-obras' %} active {% endif %}">
      <a href="/gestionar-obras" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Gestionar Obras</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/inspectores' %} active{% endif %}">
      <a href="/inspectores" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Inspectores</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/informe-avance-obra' %} active {% endif %}">
      <a href="/informe-avance-obra" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Informe Avance de Obra</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/lista-de-empleados' %} active{% endif %}">
      <a href="/lista-de-empleados" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Gestionar Publicaciones</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/lista-de-usuarios' %} active {% endif %}">
      <a href="/lista-de-usuarios" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Usuarios</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/bitacora' %} active {% endif %}">
      <a href="/bitacora" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Bitacora</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/descargar-informe-empleados' %} active {% endif %}">
      <a href="/descargar-informe-empleados" class="menu-link">
        <i class="menu-icon bi bi-file-earmark-spreadsheet-fill"></i>
        <div data-i18n="Tables">Reportes Excel</div>
      </a>
    </li>
    <li class="menu-item {% if request.path == '/descargar-informe-publicaciones' %} active {% endif %}">
      <a href="/descargar-informe-publicaciones" class="menu-link">
        <i class="menu-icon bi bi-file-earmark-pdf-fill"></i>
        <div data-i18n="Tables">Reportes PDF</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/mi-perfil' %} active {% endif %}">
      <a href="/mi-perfil" class="menu-link">
        <i class="menu-icon bi bi-person-fill-gear"></i>
        <div data-i18n="Tables">Mi Perfil</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ url_for('cerraSesion') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div data-i18n="Tables">Salir</div>
      </a>
    </li>
  </ul>
</aside>