<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo" style="justify-content: center; padding-left: 0;">
    <a href="{{ url_for('inicio') }}" class="app-brand-link" style="justify-content: center; width: 100%;">
      <span class="app-brand-logo demo" style="line-height: 0; display: flex; align-items: center; justify-content: center;">
        <img
          src="{{ url_for('static', filename ='assets/img/INVILARA LOGO OFICIAL HORIZONTAL.png') }}"
          alt="Logo" 
          style="max-height: 200px; max-width: 200px; object-fit: contain; width: auto; height: auto;" />
      </span>
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-5">    
    <li
      class="menu-item {% if request.path == '/registrar-solicitud' %} active {% endif %}">
      <a href="{{ url_for('viewFormSolicitud') }}" class="menu-link">
        <i class="menu-icon bi bi-person-bounding-box"></i>
        <div data-i18n="Basic">Registrar Solicitud</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/registrar-mortadela' %} active {% endif %}">
      <a href="{{ url_for('viewFormMortadela') }}" class="menu-link">
        <i class="menu-icon bi bi-person-bounding-box"></i>
        <div data-i18n="Basic">Registrar Mortadela</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/registrar-contratacion' %} active {% endif %}">
      <a href="{{ url_for('viewFormContratacion') }}" class="menu-link">
        <i class="menu-icon bi bi-person-bounding-box"></i>
        <div data-i18n="Basic">Gestionar Contratación</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/gestionar-gravedad' %} active {% endif %}">
      <a href="/gestionar-gravedad" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Gestionar Gravedad</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/priorizar-solicitudes' %} active {% endif %}">
      <a href="/priorizar-solicitudes" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Priorizar Solicitudes</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/gestionar-prioridad' %} active {% endif %}">
      <a href="/gestionar-prioridad" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Gestionar Prioridad</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path.startswith('/empleados') %} active{% endif %}">
      <a href="{{ url_for('empleado_bp.list_empleados') }}" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Gestionar Empleados</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/registrar-gerencias' %} active {% endif %}">
      <a href="{{ url_for('viewFormGerencias') }}" class="menu-link">
        <i class="menu-icon bi bi-person-bounding-box"></i>
        <div data-i18n="Basic">Gerencias</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/maquinaria' or request.path == '/registrar-maquinaria' %} active {% endif %}">
      <a href="/maquinaria" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Maquinaria</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/gestionar-proyectos' %} active {% endif %}">
      <a href="/gestionar-proyectos" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Gestionar Proyectos</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/Gestionar-Contrataciones' %} active{% endif %}">
      <a href="/Gestionar-Contrataciones" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Gestionar Contrataciones</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/empresa' %} active{% endif %}">
      <a href="/empresa" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Empresa</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/registrar-obras' %} active {% endif %}">
      <a href="{{ url_for('viewFormGestionarObras') }}" class="menu-link">
        <i class="menu-icon bi bi-person-bounding-box"></i>
        <div data-i18n="Basic">Gestionar Obras</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/inspectores' %} active{% endif %}">
      <a href="/inspectores" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Boxicons">Inspectores</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/inf_avance_obra' %} active {% endif %}">
      <a href="{{ url_for('viewFormInforme_avan_obras') }}" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Informe Avance de Obra</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/registrar-publicaciones' %} active {% endif %}">
      <a href="{{ url_for('viewFormPublicaciones') }}" class="menu-link">
        <i class="menu-icon bi bi-person-bounding-box"></i>
        <div data-i18n="Basic">Registrar Publicaciones</div>
      </a>
    </li>
    <li
      class="menu-item {% if request.path == '/administrar-respaldos' %} active {% endif %}">
      <a href="{{ url_for('viewFormRespaldos') }}" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Administrar Respaldos</div>
      </a>
    </li>
    {# Nuevo módulo de Usuarios con submenú #}
    <li class="menu-item {% if request.path in ['/users/register', '/users'] %} active open {% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-people-fill"></i> {# Icono de personas para usuarios #}
        <div data-i18n="Users">Usuarios</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/users/register' %} active {% endif %}">
          <a href="{{ url_for('user_bp.show_form_user') }}" class="menu-link">
            <div data-i18n="Register Users">Registrar Usuarios</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/users' %} active {% endif %}">
          <a href="{{ url_for('user_bp.lista_usuarios') }}" class="menu-link">
            <div data-i18n="List Users">Listar Usuarios</div>
          </a>
        </li>
      </ul>
    </li>
    <li
      class="menu-item {% if request.path == '/bitacora' %} active {% endif %}">
      <a href="/bitacora" class="menu-link">
        <i class="menu-icon bi bi-person-lines-fill"></i>
        <div data-i18n="Tables">Bitacora</div>
      </a>
    </li>
    <li class="menu-item {% if request.path in ['/descargar-informe-empleados', '/descargar-informe-publicaciones', '/reportes-estadisticos'] %} active open {% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-bar-chart-line-fill"></i>
        <div data-i18n="Reports">Reportes</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/descargar-informe-empleados' %} active {% endif %}">
          <a href="/descargar-informe-empleados" class="menu-link">
            <div data-i18n="Excel">Reportes Excel</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/descargar-informe-publicaciones' %} active {% endif %}">
          <a href="/descargar-informe-publicaciones" class="menu-link">
            <div data-i18n="PDF">Reportes PDF</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/reportes-estadisticos' %} active {% endif %}">
          <a href="/reportes-estadisticos" class="menu-link">
            <div data-i18n="Stats">Reportes Estadísticos</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="{{ url_for('login_bp.logout') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div data-i18n="Tables">Salir</div>
      </a>
    </li>
  </ul>
</aside>